{% extends 'base.html' %}
{% load static %}
{% block title %}ACF | Events | {{event.name}}{% endblock %}

{% block overlay_img_url %} {{event.image.url}} {% endblock %}
{% block overlay_name %} Event Details {% endblock %}
{% block other_link %} Event | Event Details  | {{event.name}}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'search_events.css' %}">
{% endblock %}

{% block content %}

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          <h2 class="mb-3">10 Tips For The Traveler </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>
          <p>
            <img src="{ % static 'images/image_7.jpg' % }" alt="" class="img-fluid">
          </p>
          <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>
          <h2 class="mb-3 mt-5">#2. Creative WordPress Themes</h2>
          <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>
          <p>
            <img src="{ % static 'images/image_8.jpg' % }" alt="" class="img-fluid">
          </p>
          <p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.</p>
          <p>Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.</p>
          <p>Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!</p>
          <p>Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?</p>
          
          
          <div class="about-author d-flex p-5 bg-light">
            <div class="bio align-self-md-center mr-5">
              <img src="{{event.creator.profile.image.url}}" alt="Image placeholder" style="width:128px; height:128px" class="">
            </div>
            <div class="desc align-self-md-center">
              <h3>{{event.creator.username}}</h3>
              <p>{{event.creator.profile.bio}}</p>
            </div>
          </div>


          

        </div>
        <div class="col-md-4 sidebar ftco-animate">

          <div class="sidebar-box">
            <form action="." class="search-form" id="eventSearchForm" method="POST" autocomplete="off">
              {% csrf_token %}
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" id="eventSearchBox" name="search_query" class="form-control" placeholder="Search Events">
              </div>
            </form>
            <div id="eventResultBox" class="event-results-card not-visible w-100" ></div>
          </div>
          

          <div class="sidebar-box ftco-animate">
            <h3>Recent Events</h3>
            {% for event in recent_events %}
              <div class="block-21 mb-4 d-flex">
                <a href="{{event.get_absolute_url}}" class="blog-img mr-4" style="background-image: url('{{event.image.url}}');"></a>
                <div class="text">
                  <h3 class="heading"><a href="{{event.get_absolute_url}}"> {{event.name}}</a></h3>
                  <div class="meta">
                    <div><a href="{{event.get_absolute_url}}"><span class="icon-calendar"></span> {{event.date}}</a></div>
                    <div><a href="{{event.get_absolute_url}}"><span class="icon-person"></span> {{event.creator}}</a></div>
                    <div><a href="{{event.get_absolute_url}}"><span class="icon-chat"></span> {{event.comment_count}}</a></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          
        </div>

      </div>
    </div>
  </section> <!-- .section -->

{% endblock %}

{% block scripts %}
  <script src="{% static 'search_events.js' %}" defer></script>
{% endblock %}