{% load static %}
<footer class="ftco-footer ftco-section img">
	<div class="overlay"></div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-3">
				<div class="ftco-footer-widget mb-4 center">
					<h2 class="ftco-heading-2">About Us</h2>
					<p>Abosede Aina Charity Foundation's main purpose is to make a positive impact on society by addressing issues such as poverty, education, especially health care, and the environment. </p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2 center">Recent Events</h2>
					{% for event in footer_events %}
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" href="{{event.get_absolute_url}}" style="background-image: url('{{event.image.url}}');"></a>
							<div class="text">
							<h3 class="heading"><a href="{{event.get_absolute_url}}">{{event.name}}</a></h3>
							<div class="meta">
								<div><a href="{{event.get_absolute_url}}"><span class="icon-calendar"></span> {{event.date}}</a></div>
								<div><a href="{{event.get_absolute_url}}"><span class="icon-person"></span> {{event.creator}}</a></div>
								<div><a href="{{event.get_absolute_url}}"><span class="icon-chat"></span> {{event.comment_count}}</a></div>
							</div>
							</div>
						</div>
					{% endfor %}
					
				</div>
			</div>
			<div class="col-md-2">
				 <div class="ftco-footer-widget mb-4 ml-md-4 center">
					<h2 class="ftco-heading-2">Site Links</h2>
					<ul class="list-unstyled">
						<li><a href="{% url 'main:home_view' %}" class="py-2 d-block">Home</a></li>
						<li><a href="{% url 'main:about_view' %}" class="py-2 d-block">About</a></li>
						<li><a href="{% url 'main:donate_view' %}" class="py-2 d-block">Donate</a></li>
						<li><a href="{% url 'main:events_view' %}" class="py-2 d-block">Event</a></li>
						<li><a href="{% url 'main:events-gallery_view' %}" class="py-2 d-block">Gallery</a></li>
						<li><a href="{% url 'main:contact_view' %}" class="py-2 d-block">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2 center">Have any Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<a href="https://www.google.com/maps/search/+Plot+53+Block+99+Flat+1,+Iba+Housing+Estate,+Iba-Ojo,+Lagos/@6.4918381,3.195785,17z/data=!3m1!4b1">
									<span class="icon icon-map-marker"></span>
									<span class="text">Plot 53 Block 99 Flat 1, Iba Housing Estate, Iba-Ojo, Lagos</span>
								</a>
							</li>
							<li>
								<a href="tel:+2348168819022">
									<span class="icon icon-phone"></span><span class="text">+2348168819022</span>
								</a>
							</li>
							<li>
								<a href="mailto:abosedeainafoundation@aol.com">
									<span class="icon icon-envelope"></span>
									<span class="text">abosedeainafoundation@aol.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Niyexdroid Technologies </p>
			</div>
		</div>
	</div>
</footer>